.overview {
  max-width: 62rem;

  @include small-tablet {
    max-width: 50rem;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: var(--small-offset);
    font: var(--bold-main-font);

    @include small-tablet {
      font: var(--small-main-font);
      font-weight: 700;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--normal-main-font);
    color: var(--color-grey);

    @include small-tablet {
      font: var(--small-main-font);
    }

    @include mobile-small {
      font-size: 1.2rem;
      line-height: 125%;
    }
  }

  &__list {
    &-item {
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 0.7rem;

      &::before {
        display: block;
        position: absolute;
        left: 0;
        top: 8px;
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--color-grey);
        border-radius: 50%;
      }
    }
  }

  &__read-more {
    font: var(--bold-main-font);
    color: var(--color-grey);
    transition: opacity 0.3s ease-in-out;

    @include small-tablet {
      font: var(--small-main-font);
      font-weight: 700;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}
