.product {
  padding: var(--big-offset) 0;

  @include mobile {
    padding: var(--main-offset) 0;
  }

  @include mobile-small {
    padding: var(--second-offset) 0;
  }

  &__container {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 385px) {
      align-items: inherit;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--big-offset);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &-info {
    width: 41%;
    flex-grow: 1;

    @include small-tablet {
      max-width: 35rem;
      width: 100%;
    }

    &__top {
      display: flex;
      flex-direction: column;
    }

    &__head {
      &-top {
        @include flex-all-sb;
        margin-bottom: var(--second-offset);

        @include tablet-md-s {
          margin-bottom: var(--main-offset);
        }
      }
    }

    &__span {
      font: var(--bold-main-font);
      text-transform: uppercase;

      @include tablet-md-s {
        font-size: 1.2rem;
        line-height: 125%;
      }
    }

    &__rate {
      @include flex-v-center;
    }

    &__stars {
      margin-right: var(--small-offset);

      img {
        @include tablet-md-s {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    &__reviews {
      font: var(--normal-main-font);
      color: var(--color-grey);

      @include tablet-md-s {
        font: var(--tablet-main-font);
      }
    }

    &__title {
      margin: 0;
      margin-bottom: var(--second-offset);
      font: var(--bold-tablet-title);
      line-height: 100%;

      @include tablet-md {
        font-size: 1.8rem;
      }

      @include tablet-md-s {
        margin-bottom: var(--small-offset);
      }

      @include mobile-small {
        margin-bottom: 1.5rem;
      }
    }

    &__main {
      max-width: 38rem;
    }

    &__subtitle {
      font: var(--bold-main-font);
      margin-bottom: 0.5rem;

      @include tablet-md-s {
        margin-bottom: 0.3rem;
      }

      @include mobile-small {
        font: var(--tablet-main-font);
        margin-bottom: 3px;
        font-weight: 700;
      }
    }

    &__desc {
      margin: 0;
      font: var(--normal-main-font);
      color: var(--color-grey);
      margin-bottom: var(--main-offset);

      @include tablet-md-s {
        margin-bottom: 1.5rem;
      }

      @include mobile-small {
        font: var(--tablet-main-font);
        margin-bottom: var(--second-offset);
      }
    }

    &__quantity {
      display: inline-block;
      padding: 0.5rem var(--small-offset);
      margin-bottom: var(--main-offset);
      background: var(--color-red);
      border-radius: 5px;
      font: var(--bold-main-font);
      text-transform: uppercase;
      color: #ffffff;

      @include tablet-md-s {
        font: var(--tablet-main-font);
        font-weight: 700;
        margin-bottom: 1.5rem;
      }
    }

    &__hr {
      margin: 0;
      border: none;
      margin-bottom: var(--second-offset);
      height: 1px;
      width: 99%;
      background: #c4c4c4;

      @include tablet-md-s {
        margin-bottom: 1.5rem;
      }
    }

    &__price {
      @include flex-v-center;
      margin-bottom: var(--second-offset);

      @include tablet-md-s {
        margin-bottom: 1.5rem;
      }

      &-old {
        margin-right: var(--small-offset);
        font: var(--normal-main-font);
        text-decoration-line: line-through;
        text-transform: uppercase;
        color: var(--color-grey);

        @include tablet-md-s {
          font: var(--small-main-font);
        }
      }

      &-current {
        font: var(--bold-tablet-title);

        @include tablet-md-s {
          font: var(--bold-main-font);
        }
      }
    }

    &__btn {
      width: 100%;
      margin-bottom: var(--second-offset);
    }

    &__amazon {
      display: block;
      margin: 0 auto;
    }
  }
}
