.product__slider {
  margin-right: var(--big-offset);

  @include small-tablet {
    margin-right: var(--pre-big-offset);
  }
}

.slider {
  @include flex-v-center;
  width: calc(59% - var(--big-offset));
  background: var(--color-white);
  box-shadow: 0px 0.4rem 2.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: var(--main-offset);

  @include tablet-md {
    padding: var(--pre-big-offset);
    height: 45rem;
  }

  @include tablet-md-s {
    padding: var(--main-offset);
    height: 39rem;
  }

  @include tablet-pre-md {
    padding: 2.5rem;
    height: 36rem;
  }

  @include small-tablet {
    margin-right: 0;
    padding: 1.5rem;
    height: 30rem;
    max-width: 35.5rem;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  @media (max-width: 400px) {
    height: 25.6rem;
  }

  &__container {
    overflow: hidden;
    width: calc(70% - var(--main-offset));
    flex-grow: 1;
  }

  &-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    height: 50rem;
    width: calc(30% - var(--main-offset));
    margin-right: var(--main-offset);

    @include tablet {
      height: 45rem;
      gap: 1.3rem;
    }

    @include tablet-md {
      height: 40rem;
      gap: 1rem;
      margin-right: 2.5rem;
    }

    @include tablet-md-s {
      height: 36rem;
    }

    @include tablet-pre-md {
      height: 33.5rem;
      gap: 0.8rem;
    }

    @include small-tablet {
      height: 27rem;
      gap: 0.7rem;
      margin-right: var(--second-offset);
    }

    @media (max-width: 400px) {
      height: 23rem;
      margin-right: 1.5rem;
    }

    &__arrow {
      width: 4rem;
      height: 4rem;
      cursor: pointer;

      @include tablet-md {
        width: 2.2rem;
        height: 2.2rem;
      }

      @media (max-width: 400px) {
        width: 1.8rem;
        height: 1.8rem;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__item {
      width: 12rem;
      height: 12rem;
      border: 1px solid var(--color-alto);
      background: #f5f5f5;
      border-radius: 3px;
      padding: 0.5rem;
      transition: opacity 0.3s ease-in-out;

      @include tablet {
        width: 10.5rem;
        height: 10.5rem;
      }

      @include tablet-md {
        width: 9.5rem;
        height: 9.5rem;
        padding: 0.4rem;
      }

      @include tablet-md-s {
        width: 8.5rem;
        height: 8.5rem;
      }

      @include tablet-pre-md {
        width: 7.5rem;
        height: 7.5rem;
        padding: 0.3rem;
      }

      @include small-tablet {
        width: 6.5rem;
        height: 6.5rem;
      }

      @media (max-width: 400px) {
        width: 5rem;
        height: 5rem;
      }

      &--third {
        padding: 0;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.swiper {
  &-slide {
    min-width: 23rem;
    min-height: 23rem;

    @media (max-width: 400px) {
      min-width: 18.5rem;
      min-height: 18.5rem;
    }

    &__img {
      width: 100%;
      object-fit: cover;
    }
  }
}
