<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__columns">
        <div class="footer__column">
          <h2 class="footer__title">Privacy and Terms</h2>
          <nav class="footer__nav">
            <ul class="footer__list list-reset">
              <li class="footer__item">
                <a href="#" class="footer__link">Privacy Policy</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Terms of use</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__column">
          <h2 class="footer__title">Need Help?</h2>
          <nav class="footer__nav">
            <ul class="footer__list list-reset">
              <li class="footer__item">
                <a href="mailto:mail@gmail.com" class="footer__link"
                  >mail@gmail.com</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__column">
          <h2 class="footer__title">Social</h2>
          <nav class="footer__nav">
            <ul class="footer__list list-reset">
              <li class="footer__item">
                <a href="#" class="footer__link">Facebook</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Instagram</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__copy">© All Rights Reserved</div>
    </div>
  </div>
</footer>
