<header class="header">
  <div class="container header__container">
    <div class="header__left">
      <h1 class="main-title header__title">Autumn Giveaways for FREE</h1>
      <p class="header__desc">
        Participate in&nbsp;Autumn Giveaway and treat&nbsp;yourself to
        nice&nbsp;and refreshing cosmetics for free
      </p>
    </div>
    <picture class="header__banner">
      <source
        media="(max-width: 768px)"
        srcset="./img/header-banner-small.png"
      />
      <img src="./img/header-banner.png" alt="" />
    </picture>
  </div>
</header>
