<section class="product">
  <div class="container">
    <div class="product__top">
      <div class="slider product__slider">
        <div class="slider-preview">
          <div class="slider-preview__arrow">
            <img src="../img/arrow-top.svg" alt="Previous Slide" />
          </div>
          <div class="slider-preview__item" data-index="0">
            <img src="../img/slide-mini-1.png" alt="" />
          </div>
          <div class="slider-preview__item" data-index="1">
            <img src="../img/slide-mini-2.png" alt="" />
          </div>
          <div
            class="slider-preview__item slider-preview__item--third"
            data-index="2"
          >
            <img src="../img/slide-mini-3.png" alt="" />
          </div>
          <div class="slider-preview__arrow">
            <img src="../img/arrow-bottom.svg" alt="Next Slide" />
          </div>
        </div>
        <!-- /.slider-preview -->
        <div class="slider__container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                class="swiper-slide__img"
                src="../img/slide-1.jpg"
                alt="Cystisc Acne heals"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="swiper-slide__img"
                src="../img/slide-1.jpg"
                alt="Cystisc Acne heals"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="swiper-slide__img"
                src="../img/slide-1.jpg"
                alt="Cystisc Acne heals"
              />
            </div>
          </div>
        </div>
        <!-- /.slider__container -->
      </div>
      <div class="product-info">
        <div class="product-info__top">
          <div class="product-info__head">
            <div class="product-info__head-top">
              <span class="product-info__span">Best seller</span>
              <div class="product-info__rate">
                <div class="product-info__stars">
                  <img src="../img/star.svg" alt="Рейтинг 5 из 5" />
                  <img src="../img/star.svg" alt="" />
                  <img src="../img/star.svg" alt="" />
                  <img src="../img/star.svg" alt="" />
                  <img src="../img/star.svg" alt="" />
                </div>
                <span class="product-info__reviews">(1731 reviews)</span>
              </div>
            </div>
            <h2 class="product-info__title">
              Acne Treatment Cystic Acne heals, repairs &amp;&nbsp;renews
            </h2>
          </div>
          <div class="product-info__main">
            <div class="product-info__subtitle">Description:</div>
            <p class="product-info__desc">
              Addictively refreshing gel-cream leaves skin plump, dewy, glowing.
            </p>
            <span class="product-info__quantity">items left: 12</span>
            <hr width="99%" color="#C4C4C4" class="product-info__hr" />
            <div class="product-info__price">
              <span class="product-info__price-old">us$25.89</span>
              <span class="product-info__price-current">$0.00 FREE</span>
            </div>
            <button class="btn btn-reset btn--primary product-info__btn">
              Select
            </button>
            <img
              class="product-info__amazon"
              src="../img/amazon-logo.svg"
              alt="Amazon Logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="product__bottom">
      <div class="product__overview overview">
        <h2 class="overview__title main-title">Overview</h2>
        <h3 class="overview__subtitle">Who It's For</h3>
        <p class="overview__text">
          Very Dry, Dry, Dry Combination Skin (Type 1, 2)
        </p>
        <h3 class="overview__subtitle">What It Is</h3>
        <p class="overview__text">
          Step 3 in our customized 3-Step Skincare System.
          Dermatologist-developed face moisturizer softens, smooths, improves.
          Leaves skin glowing.
        </p>
        <h3 class="overview__subtitle">What It Does</h3>
        <ul class="overview__list">
          <li class="overview__list-item">
            Silky lotion delivers 8-hour hydration.
          </li>
          <li class="overview__list-item">Slips on easily, absorbs quickly.</li>
          <li class="overview__list-item">
            Helps strengthen skin’s own moisture barrier so more moisture stays
            in. Skin that holds onto moisture has a youthful-looking glow.
          </li>
        </ul>
        <a href="#">Read more...</a>
      </div>
    </div>
  </div>
</section>
