<section class="steps">
  <div class="container">
    <h2 class="main-title steps__title">How does it work?</h2>
    <div class="steps__wrap">
      <div class="steps__item">
        <div class="steps__item-inner">
          <strong class="steps__item-strong"
            >Easy <br />
            as <br />
            1-2-3</strong
          >
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__item-inner">
          <img
            src="../img/choose-product.svg"
            alt="Choose Product"
            class="steps__img"
          />
        </div>

        <p class="steps__text">Choose product</p>
      </div>
      <div class="steps__item">
        <div class="steps__item-inner">
          <img
            src="../img/buy-product.svg"
            alt="Buy product"
            class="steps__img"
          />
        </div>

        <p class="steps__text">Buy product</p>
      </div>
      <div class="steps__item">
        <div class="steps__item-inner">
          <img
            src="../img/test-and-share.svg"
            alt="Test and share review"
            class="steps__img"
          />
        </div>

        <p class="steps__text">Test and share review</p>
      </div>
      <div class="steps__item">
        <div class="steps__item-inner">
          <img src="../img/get-money.svg" alt="" class="steps__img" />
        </div>
        <p class="steps__text">Get 100% money back</p>
      </div>
    </div>
  </div>
</section>
