:root {
  // colors

  --color-black: #000;
  --color-white: #fff;
  --color-grey: rgba(0, 0, 0, 0.6);
  --color-light: #eee;

  // отступы
  --small-offset: 1rem;
  --second-offset: 2rem;
  --pre-big-offset: 4rem;

  // шрифты

  --font-family: "Proxima Nova", sans-serif;
  --bold-title: 700 4.8rem / 121% var(--font-family);
  --bold-tablet-title: 700 3rem / 123% var(--font-family);
  --bold-mobile-title: 700 2rem / 120% var(--font-family);

  --regular-big: 400 2.4rem / 121% var(--font-family);

  --small-font: 400 14px / 140% var(--font-family);
}
